1.File Handling for phone numbers.

23-03-23
Added normal_input() and master_input() functions and added the functionality of receiving qr code via url in messages.
normal_input() is for normal attempts and master_input() is for final and last attempt.

